<nav class="fixed z-10 top-0 left-0 w-full h-16 bg-secondary backdrop-blur-md text-white flex items-center justify-between px-6 border-b border-white/10">
  <!-- Lado Izquierdo: Logo -->
  <div class="flex-1 flex justify-start items-center gap-4">
    <div class="p-1.5 rounded-lg shadow-inner">
      <img #msiLogo
           src="https://serviciosinpad.indeci.gob.pe/storage/data/iconos/multisectorial/banners/logo_indeci_3.png"
           alt="Municipalidad de San Isidro"
           class="h-7 sm:h-10 md:h-12 w-auto object-contain"
           (error)="msiLogo.src='https://v0.app/placeholder.svg'">
    </div>
  </div>
  <!-- Centro: Título -->
  <div class="hidden sm:flex flex-1 items-center justify-center gap-x-6">
  </div>
</nav>

