@if (showLoadingScreen()) {
<div class="fixed inset-0 z-99999 flex flex-col items-center justify-center">
  <img src="assets/images/fondo.jpg" alt="Fondo" class="absolute inset-0 w-full h-full object-cover grayscale">
  <div class="absolute inset-0 bg-black/70"></div>
  <div class="relative z-10 flex flex-col items-center justify-center">
    <app-spinner size="h-40 w-40" color="text-white">
    </app-spinner>
    <span class="mt-4 text-white/70 text-sm font-bold tracking-[0.2em] animate-pulse uppercase">
      Cargando...... el Visor
    </span>
    <img src="https://serviciosinpad.indeci.gob.pe/storage/data/iconos/multisectorial/banners/logo_indeci_3.png" alt="Logo INDECI"
      class="mt-8 h-20 w-auto filter-[drop-shadow(0_0_12px_rgba(255,255,255,0.7))]">
  </div>
</div>
}
<app-navbar [tourActivo]="isTourActive()" (login)="openLoginModal()" (tour)="startTour()"
  (dashboard)="abrirDashboard()"></app-navbar>
<app-sidebar (onToggle)="handleSidebarToggle($event)"></app-sidebar>
<div #mapContainer id="mapContainer" class="map-container" [class.blank-base]="mapService.baseLayerType() === 'blanco'">
</div>
<app-funciones></app-funciones>
<app-coordinate-info></app-coordinate-info>
<!-- Modal global de Términos y Condiciones (se muestra al hacer zoom sobre el distrito) -->
<app-terminos></app-terminos>
